@use "./imports/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul {
  width: 90%;
  // height: 100%;
  // border-radius: 4px;
  background: lightgray;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  gap: 2em;
  @include neo(1, 1em, 1em);
}

.ul .li {
  background: orange;
  // width: 300px;
  height: 250px;
  overflow: hidden;
  @include neo(1, 1em, 0.8em);
}

.ul .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
  transform: scale(1.2);
}

.ul .li:hover .img {
  transform: scale(1);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 2;

  @include flex(column, nowrap, center, center);
  // visibility: hidden;
  opacity: 0;
  transform: scale(1.1);
  transition: all 0.5s ease;
  pointer-events: none;
}

.lightbox.active {
  // display: flex;
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.lightbox .close {
  width: 5em;
  height: 3em;
  background-color: orange;
  margin: 0 0 1em;
  border: none;
  cursor: pointer;
  @include neo(1, 1em, 0.5em);
}

.lightbox .close:hover {
  @include neo(2, 1em, 0.5em);
}

.lightbox .big {
  // width: 80%;
  height: 50vh;
  background-color: lightblue;
  object-fit: cover;

  @include neo(1, 1em, 1em);
}

@media (max-width: 750px) {
  .lightbox .big {
    width: 60%;
  }
}
